<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <title>{{ title }}</title> 
</head> 
<body> 
    <header>
    <h1>Site Header</h1>
    </header>
    <nav>
    <a href="/">Home</a>
    <a href="/contact/">Contact</a>
    <a href="/blog/">Blog</a>
    </nav> 
    <main> 
    <h1>{{ title }}</h1>
    {{ content | safe }}
    </main> 
    <footer>Site Footer</footer> 
</body> 
</html>